.vscode
Downloaded
*.exe
hello*
Another*
CPU_Moodle*
tester*
CPU_Design2.cpp
CPU_Design3.cpp
LastTry.cpp
LastTryTester.txt
testing.txt
Trying.cpp
CPU_Design
CPU_with_assembler
CPU_Design-main.zip
CPU_Design-main
Final.cpp